.main {
    /* display: flex;
    flex-direction: column-reverse;
    justify-content: space-between; */
    /* align-items: center; */
    position: relative;
    height: 80vh;
    /* padding-bottom: 10px; */
    border: 1px solid rgb(96, 96, 96);
}

.main .ball {
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    height: 30px;
    width: 30px;
    top: 50%;
    /* bottom: 0; */
    left: 50%;
    /* right: 0; */
    transform: translateX(-15px) translateY(-15px);
    /* margin: auto; */
}

.main .score {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Press Start 2P';
    font-size: 30px;
    padding-top: 2%;
    padding-left: 2%;
}

.main .player {
    width: 300px;
    height: 15px;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-150px, 0%);
}