@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&family=Press+Start+2P&display=swap');

body {
    font-family: 'Nunito Sans', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    font-size: 35px;
}

.playground {
    border: 1px solid rgb(96, 96, 96);
    display: block;
    margin: 0 auto;
}

/* 
.ball {
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    height: 30px;
    width: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Press Start 2P';
    font-size: 30px;
    padding-top: 2%;
    padding-left: 2%;
}

.player {
    width: 300px;
    height: 10px;
    background-color: white;
    border-radius: 30px;
} */