@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&family=Press+Start+2P&display=swap');

body {
    font-family: 'Nunito Sans', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    font-size: 35px;
    border-bottom: 1px solid darkgray;
}

.ball {
    border-radius: 50%;
    background-color: blue;
    height: 25px;
    width: 25px;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    padding: 0px 10px;
    border: 2px solid white;
}

.scoreBoard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Press Start 2P';
    font-size: 30px;
    height: 100%;
}

.score {
    padding-top: 20px;
}

.separator {
    margin: 0px 30px;
    height: 100%;
    border-left: 2px dashed white;
}

.player {
    width: 10px;
    height: 200px;
    background-color: white;
    border-radius: 30px;
}